<div class="col-md-6 col-md-offset-3">
    <div class="new-product-form">
        <h1>New Company</h1>

        <%= render 'form', company: @company %>

        <%= link_to 'Back', companies_path, class:"btn btn-xs btn-success"%>
    </div>
</div>